.SafetyNet--error {
	border-radius: 12px;
	padding: 12px;
	font-family: sans-serif;

	background: rgb(255, 200, 200);
	border: 2px dashed red;
}

.SafetyNet__ErrorHeader {
	padding: 0;
	margin: 0 0 8px;
}

.SafetyNet__Revealer > summary {
	cursor: pointer;
}

.SafetyNet__ErrorDetails {
	font-family: monospace;
	background: black;
	color: white;
	padding: 8px;
	margin: 0;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
